{% extends 'blog/base.html' %}
{% load highlight %}


{% block main %}

            {% if query %}
                    {% for result in page.object_list %}
                            <article class="post">
								<header>
									<div class="title">
										<h2><a href="{{ result.object.get_absolute_url }}">{% highlight result.object.title with query %}</a></h2>
										<p>{{ result.object.excerpt }}</p>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-10-22">{{ result.object.created_time }}</time>
										<a href="#" class="author"><span class="name">{{ result.object.author }}</span><img src="{{ result.object.author.headshot.url }}" alt="" /></a>
									</div>
								</header>
								<a href="#" class="image featured"><img src="{{ result.object.img.url }}" alt="" /></a>
								<p> {% highlight result.object.body with query | truncatechars:210 %}</p>
								<footer>
									<ul class="actions">
										<li><a href="{{ result.object.get_absolute_url }}" class="button big">继续阅读</a></li>
									</ul>
									<ul class="stats">
										<li><a href="{% url 'blog:category' result.object.category.pk %}">{{ result.object.category }}</a></li>
										<li><a href="{{ result.object.get_absolute_url }}" class="icon fa-heart">{{ result.object.views }}</a></li>
										<li><a href="{{ result.object.get_absolute_url }}" class="icon fa-comment">{{ presult.object.comment_set.all.count }}</a></li>
									</ul>
								</footer>
							</article>

                        {% empty %}
                            没有搜索到你想要的结果！
                        {% endfor %}
                        <!-- Pagination -->
                        {% if is_paginated %}
                              <ul class="actions pagination">
                                {% if page_obj.has_previous %}
								      <li><a href="?page={{ page_obj.previous_page_number }}" class=" button big previous">上一页</a></li>
                                {% endif %}

                                 {% if page_obj.has_next %}
                                     <li><a href="?page={{ page_obj.next_page_number }}" class="button big next">下一页</a></li>
                                 {% endif %}

							  </ul>
                        {% endif %}
{#                        	<ul class="actions pagination">#}
{#								<li><a href="" class="disabled button big previous">Previous Page</a></li>#}
{#								<li><a href="#" class="button big next">Next Page</a></li>#}
{#							</ul>#}
            {% else %}
                   请输入搜索关键词，例如 bootstrap
            {% endif %}

{% endblock %}