{% extends 'blog/base.html' %}

{% block main %}
      <article class="post">
				<div>

                    <h3>发布文章</h3>
                    <label>当前用户：<span style="color: #0e84b5"><img src="{{ user.headshot.url }} " height="30" width="30"/>{{ user.username }}</span></label>


                  <form method="post" action="{% url 'blog:pubpost' user.pk %}" enctype="multipart/form-data">
                      {% csrf_token %}
                     <p><label>标题：</label>
                        {{ form.title }}{{ form.title.errors  }}</p>
                        <p><label>内容：</label>
                        {{ form.body }}{{ form.body.errors }}<br></p>
                        <label>摘要：</label>
                        {{ form.excerpt }}{{ form.excerpt.errors }}<br>
                        <label>分类：</label>
                          {{ form.category }}{{ form.category.errors }}<br>
                        <label>标签：</label>
                        {{ form.tags }}{{ form.tags.errors }}
                        <br>
                        <label>图片：</label>
                        {{ form.img }}{{ form.img.errors }}<br>

                        <div align="center" style="margin-top: 40px;font-size: 20px"><button type="submit">发布</button></div>

                    </form>

                </div>

      </article>
{% endblock %}